.MyProfile {
  grid-area: 'myProfile';
  background-color: var(--bg-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.MyProfile h2{
  margin : 0;
}

.MyProfile img {
  width : 6vh;
}