.list{
  margin-left: 10px !important;
}

.checkbox{
  margin-left: 9vw !important;
}

.listTime{
  padding-top: 1em !important;
}

@media screen and (min-width: 600px){
  .checkbox{
    padding-left: 0 ;
  }
}