.appContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.App {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  --main-color:#F76C6F;
  --bg-color: #efedf4;
  --text-color: #ffffff;
  background-color: var(--bg-color);
}

.blue {
  --main-color: #2193b0;
  --bg-color: #f4eded;
  --text-color: #ffffff;
}

.red {
  --main-color:#b93937;
  --bg-color: #e7e7e7;
  --text-color: #ffffff;
}

.grey {
  --main-color: #757575;
  --bg-color: #e7e7e7;
  --text-color: #ffffff;
}

.green {
  --main-color: #67945b;
  --bg-color: rgb(228, 228, 228);
  --text-color: #f0f0f0;
}

.night {
  --main-color: #333333;
  --bg-color: #6e6d6d;
  --text-color: #ffffff;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: #dddddd !important; 
} /* this will style the thumb, ignoring the track */

.chat {
  z-index: 1;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-rows: 88% 12%;
}

.infos {
  z-index: 2;
  background-color: var(--main-color);
  color: var(--text-color);
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  transition: all .5s ease-in-out;
}

.active{
  width: 70vw;
  margin-left: 30vw;
}

.inactive{
  width: 70vw;
  margin-left: 100vw;
}

.toggle {
  z-index: 5;
  background-color: transparent;
  border-radius: 100%;
  position: absolute;
  top: 38%;
  left: -50px;
  width: 60px;
  height: 60px;
  border: none;
  outline:none;
  opacity: .4;
}

.toggle::after {
  content:'';
  display: block;
  top: 0; left: 0;
  margin-top: -35px;
  margin-left: 5px;
  border-radius: 100%;
  width: 35px; height: 35px;
  background-color: white;
}

.toggle i {
  color: var(--main-color);
  margin-left: -3px !important;
  margin-top: -4px !important;
  font-size: 3rem !important;
}

@media screen and (min-width: 600px){
  .chat {
    width: 79vw;
  }

  .infos {
    margin-left: 70vw;
  }

  .active{
    width: 20vw;
    margin-left: 80vw;
  }
  
  .inactive{
    width: 20vw;
    margin-left: 80vw;
  }

  .toggle{
    display:none;
  }
}
