.App {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 10vh 40vh 40vh 10vh;
  grid-template-areas:
    "feed feed feed logo"
    "feed feed feed usersbox"
    "feed feed feed usersbox"
    "input input input parameters";
}

.Feed {
  grid-area: feed;
  overflow-x: hidden;
}

.InputMsg {
  grid-area: input;
  align-self: center;
}
.Logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Usersbox {
  background-color: #F8F8F8;
  grid-area: usersbox;
  display: grid;
  grid-template-rows: 10% 5% 85%;
  grid-template-areas:
    "myProfile"
    "counter"
    "usersList";
}

.Parameters {
  grid-area: parameters;
  display: flex;
  justify-content: space-around;
  align-items: center;
}